# CMHW
type display_sysfs, fs_type, sysfs_type;
type vibeamp_sysfs, fs_type, sysfs_type;

# fsg
type moto_firmware, file_type;
type fsg_file, fs_type, contextmount_type;

# Cutback socket (RILD)
type cutback_data_file, file_type, data_file_type;

# PDS
type pds_file, file_type;
type pds_public_file, file_type;
type pds_batt_file, file_type;

# Sensors
type sysfs_devices_sensors, file_type, sysfs_type;

# Touch script
type sysfs_mmi_touch, fs_type, sysfs_type;
